<% selected_places = get_places %>
<%= form_with(model: trip, local: true) do |f| %>
  <% if trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
        <% trip.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Driver %><br/>
    <%= f.text_field :driver_id, autofocus: true, autocomplete: "driver_id" %>
  </div>

  <div class="field">
    <%= f.label :Source %><br />
    <%= f.select(:source_id, options_for_select(selected_places, @trip&.source_id), {include_blank: true}, {class: "select2 col-sm-4"}) %>
  </div>

  <div class="field">
    <%= f.label :Destination %><br />
    <%= f.select(:destination_id, options_for_select(selected_places, @trip&.destination_id), {include_blank: true}, {class: "select2 col-sm-4"}) %>
  </div>

  <div class="field">
    <%= f.label :Departure_time %><br />
    <%= f.number_field :departure_time, autofocus: true, autocomplete: "departure_time" %>
  </div>

  <div class="field">
    <%= f.label :No_of_seats %><br />
    <%= f.number_field :no_of_seats, autofocus: true, autocomplete: "no_of_seats" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
