<%= form_with(model: pickup, local: true) do |f| %>
  <% if pickup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pickup.errors.count, "error") %> prohibited this pickup from being saved:</h2>

      <ul>
        <% pickup.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Passenger %><br />
    <%= f.text_field :passenger_id, autofocus: true, autocomplete: "passenger_id" %>
  </div>

  <div class="field">
    <%= f.label :Source %><br />
    <%= f.text_field :source_id, autofocus: true, autocomplete: "source_id" %>
  </div>

  <div class="field">
    <%= f.label :Destination %><br />
    <%= f.text_field :destination_id, autofocus: true, autocomplete: "destination_id" %>
  </div>

  <div class="field">
    <%= f.label :Departure_time %><br />
    <%= f.text_field :departure_time, autofocus: true, autocomplete: "departure_time" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
